* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Ser till så att bilderna får korrekt storlek och deras rörelse animeras */
/* När ni sätter intervallen efter vilken pokemonen får sin nya position bör den intervallen överensstämma med tiden här. 3s. */
img {
    width: 300px;
    transition: all 3s linear;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    background-image:url('../assets/background.png');
    width: 100%;
    height: 100vh;
    align-items: center;

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1.5rem;
        padding-left: 5rem;
        padding-right: 5rem;
        width: 40%;
        font-size: 1.5rem;
        background-color: hsla(0, 0%, 100%, 0.5);
        border-radius: 15px;
        font-weight: 600;

        p {
            align-self: flex-start;
        }

        .gender {
            display: flex;
            gap: 2rem;
            align-self: flex-start;
        }
        button {
            background-color: red;
            color: white;
            padding: 0.5rem;
            border-radius: 15px;
            font-size: 1.5rem;
            height: 4rem;
            border: none;
            width: 100%;
        }
    
        #nick, #age {
            border-radius: 15px;
            padding: 0.5rem;
            width: 100%;
            height: 3rem;
            border: none;
        }
    }
}

